<footer class="footer bg-dark py-3 mt-auto">
    <!-- py adds padding on top and bottom -->
    <div class="container">
        <span class="text-light">&copy; YelpCamp 2020</span>
    </div>
</footer>
