<footer class="footer bg-dark py-3 style="position: fixed; bottom: 0; left: 0; right: 0;">
    <!-- py adds padding on top and bottom -->
    <div class="container">
        <span class="text-light">&copy; YelpCamp 2020</span>
    </div>
</footer>
